body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}

.content{
    width: 960px;
    margin: 50px auto;
    display: grid;
    
    /* To change the size of columns i.e horizontally */
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: 1fr 3fr 1fr; */
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, minmax(90px, auto));
    /* grid-auto-rows: minmax( 200px, auto); */
    grid-gap: 20px;
    /*  horizontal align items - start, end, center, stretch */
    align-items: stretch;
    /*  vertical align items - start, end, center, stretch */
    justify-items: stretch;
}

.content > div{
    background-color: rgb(61, 216, 214);
    padding: 30px;
    font-size: 22px;
    overflow: auto;
    border-radius: 30px;
    /*  horizontal align items - start, end, center, stretch */
    align-self: stretch;
    /*  vertical align items - start, end, center, stretch */
    justify-self: stretch;
}

.content > div:nth-child(2n){
    background-color: rgb(157, 157, 157);
}

.content > div:hover{
    background-color: black;
    color: white;
}

